td, th {
	border: 1px solid;
  }

th {
  background-color: #04AA6D;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  }

td {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  }

img {
  height: 200px;
  width: 200px;
  }

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  }

body {
  background-image: url("../images/cream_background.jpg");
  }

td:nth-child(1) {
  font-weight: bold;
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }